html {
    font: 90%/1.3 Helvetica,sans-serif;
    padding:1em;
    color:#00bfff;
    background-color: #ffdead;
}

h1 {
    text-align: center;
}
form {
    position: absolute;
    top: 70px;
    background:#fff;
    padding:1em;
    border:2px solid #eee;
    margin:15px;
    width:400px;
    -moz-border-radius:0.4em;
    -khtml-border-radius:0.4em;
}

.login {
    background:url("../imgs/book.gif") no-repeat 95% 1em;
}

fieldset div {
    margin:0.3em 0;
    clear:both;
}

label {
    float:left;
    width:10em;
    text-align:right;
    margin-right:1em;
}
legend {
    color:#0b77b7;
    font-size:1.2em;
}
legend span {
    width:10em;
    text-align:right;
}
input {
    padding:0.15em;
    width:20em;
    border:1px dotted #ddd;
    background:#fafafa;
    font:bold 0.95em arial, sans-serif;
    -moz-border-radius:0.4em;
    -khtml-border-radius:0.4em;
}

input:hover, input:focus, #titulo:hover, textarea:hover {
    border-width: 3px;
    border-color:#c5c5c5;
    background:#f6f6f6;
}

#titulo {
    padding:0.15em;
    width:18em;
    border:1px solid #ddd;
    background:#fafafa;
    font:bold 0.95em arial, sans-serif;
    -moz-border-radius:0.4em;
    -khtml-border-radius:0.4em;
}

select {
    padding:0.15em;
    width:18em;
    border:1px solid #ddd;
    background:#fafafa;
    font:bold 0.95em arial, sans-serif;
    -moz-border-radius:0.4em;
    -khtml-border-radius:0.4em;
} 

textarea {
    padding:0.15em;
    width:18em;
    border:1px solid #ddd;
    background:#fafafa;
    font:bold 0.95em arial, sans-serif;
    -moz-border-radius:0.4em;
    -khtml-border-radius:0.4em;
}

fieldset {
    border:1px solid #ddd;
    padding:0 0.5em 0.5em;
}

#submit-go {
    margin-top:1em;
    width:69px;
    height:26px;
    text-indent:-9999px;
    overflow:hidden;
    border:0;

    display:block;
    cursor:pointer !important;
}
#submit-go:hover {
    background-position:0 -26px;
}

textarea {
    resize:none;
}
#formulario_consulta {
    position:absolute;
    top:30px;
    left:500px;
    width: 20em;
    border:2px dotted #ddd;
    background: white;
}
#busqueda {
    width: 220px;
    border:2px dotted #ddd;
    background: white;
}
.filtros  {
    position:absolute;
    top: 200px;
    left:510px;
    width: 9em;
    border:2px solid #eee;
    background: white;
    padding:1.5em;
    -moz-border-radius:0.4em;
    -khtml-border-radius:0.4em;
}
#oculto2{
    position: absolute;
    top: 80px;
    left:490px;
    width: 220px;
    background:#fff;
    padding:1em;
    border:1px solid #eee;
    -moz-border-radius:0.4em;
    -khtml-border-radius:0.4em;
}
#autocompleta {
    position:absolute;
    top:45px;
    left:510px;
    width: 30em;

    -moz-border-radius:0.4em;
    -khtml-border-radius:0.4em;
}

#quebuscas {
    padding:0.15em;
    width:200px;
    background:#fafafa;
    font:bold 0.95em helvetica, sans-serif;
    -moz-border-radius:0.4em;
    -khtml-border-radius:0.4em;

}
#qr {
    position:absolute;
    top: 240px;
    left:475px;
    padding:1em;
    background: white;
    border:4px dotted #eee;
    -moz-border-radius:0.4em;
    -khtml-border-radius:0.4em;
}

#dropdown_filtros {
    position:absolute;
    top:20px;
    left:760px;
    width: 280px;
    background: white;
    border:2px dotted #ddd;
    padding: 5px;
    -moz-border-radius:0.4em;
    -khtml-border-radius:0.4em;
}
input[type=checkbox], input[type=radio] { 
    width:1em; 
    height:1em; 
    margin:0; 
}

.Nube {
    position: relative;
    margin: 5px 0px 0px 0px;
    width: 220px;
    background-color: transparent;
    border: 1px dotted #00bfff;	
    color: #00bfff;
}

.listaCoincidencias {
    margin-bottom: 5px;
}

.listaCoincidencias:hover {
    background-color: #659CD8;
}




A:link {text-decoration:none;}
A:visited {text-decoration:none;}
A:active {text-decoration:none;}
A:hover {text-decoration:underline;}

.ac_results {
    padding: 0px;
    max-height: 200px;
    border: 1px solid #7FB7FB;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #E0FFFF;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results iframe {
    display:none;
    display/**/:block;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    width:3000px;
    height:3000px;

}

.ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font: menu;
    font-size: 12px;
    overflow: hidden;

}

.ac_loading {
    background : #AFD2FD url('../imgs/loader.gif') right center no-repeat;
}

.ac_over {
    background-color: white;
    color: black;
}

#selecionado {
    font-weight: bold;
    background: #ffdead;
}

#usr_busqueda {
    position: absolute;
    top: 150px;
    left:600px;
    font-size: small;
    display:block;
}

#menu_usuarios {
    text-align: center;
    display:block;
    color:#00bfff;
    background-color: #fff;
}

#menu_usuarios :hover{
    background-color: #ffdead;
    text-decoration: none;
}

#menu {
    position: absolute;
    top: 0;
    left:0;
    height: 20px;    
    width: 100%;
    font-size: small;
    display: block;
    color: black;
    background-color: #00BFFF;
    vertical-align:middle;
    text-align:center;
}
ul.menu_color {
	list-style:none;
        text-decoration: none;
        text-align: center;
        color:#B8860B;
}
ul.menu_color li {
	display:block;
	position:relative;
	padding:3px 5px;
   color:#000;
	background:#ffdead;
	border:1px solid #696969;
	
}
ul.menu_color ul {
	position:absolute;
	left:51px;
	top:-1px;
	display:none;
	list-style:none;
        
}
ul.menu_color > li > ul {
	position:absolute;
	left:-41px;
	top:19px;
	display:none;
	list-style:none;
        width:150px;
}
ul.menu_color li:hover {
	border:3px solid #aaaaff;
}
ul.menu_color li:hover > ul {
	display:block;
}
ul.menu_color > li {
	display:inline;
}

#pie {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    font-size: small;
    color: black;
    background-color: white;
    vertical-align:middle;
    text-align:center;
}
#logout {
    position: absolute;
    bottom: 0;
    right: 30px;
    height: 20px;
    font-size: small;
    color: black;
    background-color: white;
    vertical-align:middle;
    text-align:center;
}