body {
    color:white;
	margin: 0px;
	background-color: #111111;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Helvetica, Arial, sans-serif;
}
#form_general {
	background-image: url('../imgs/bg2.png');
	background-repeat: no-repeat;
	width: 225px;
	height: 263px;
	margin: 100px auto 0px auto;
	padding-left: 35px;
}
#cabecera {
	color: #ffffff;
	font-size: 16pt;
	padding: 10px 0px 25px 22px;
}
.input {
	margin-left: 38px;
	margin-top: 14px;
	width: 164px;
	height: 17px;
	border: 0px;
	padding: 6px;
	font-size: 12pt;
	background: transparent;
	color: #9d9d9d;
}
#alinea {
        padding-top: 7px;
        margin-top: 8px;
}

#enviar {
	text-align: right;
	padding-right: 15px;
}

.login {
	background: transparent;
	border: 0px;
	background-image: url('../imgs/login.png');
	background-repeat: no-repeat;
	width: 77px;
	height: 29px;
	cursor: pointer;
}
#gest_usuario {
	padding-top: 29px;
	font-size: 8pt;
}
#gest_usuario a {
	color: #ffffff;
	text-decoration: none;
}
#gest_usuario a:hover {
	text-decoration: underline;
}
#gest_usuario span {
	color: #00baff;
	font-size: 10pt;
	font-weight: bold;
}
#olvidada {
	float: left;
	width: 125px;
}

#error {
    margin-top: 50px;
        color:#fff;
}