body {
    background-color: #FFFFE0;
    font-weight: bold;
    font-family: Helvetica,sans-serif;
}
form {
    position: absolute;
    top: 200px;
    left: 400px;
    width: 400px;
    height: 180px;
    color:#EEE8AA;
    background:#BDB76B;
    box-shadow: 0 0 50px rgb(0,0,0);
}
#usr {
    position:absolute;
    top: 30px;
    left: 95px;

}
#pwd {
    
    position:absolute;
    top: 70px;
    left: 90px;
}
#login {
    position:absolute;
    top: 130px;
    left: 60px;
    width: 130px;
}
#reset{
    position:absolute;
    top: 130px;
    left: 210px;
    width: 130px;
}
input {
    width:10em;
    background:#EEE8AA;
    font:bold 0.85em helvetica, sans-serif;
    -moz-border-radius:0.4em;
    -khtml-border-radius:0.4em;
}
input:hover, input:focus {
    border-width: 2px;
    border-color:#BDB76B;
    background:#FFFFE0;
}